.root {
  padding: 100px;
  width: 900px;
  margin: 0 auto;
  text-align: center;
  h1 {
    font-size: 48px;

    span {
      font-size: 64px;
    }
  }
}

.description {
  font-size: 22px;
  margin-top: 10px;
}
