.root {
  padding: 100px;
  width: 900px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-size: 48px;

    span {
      font-size: 64px;
    }
  }
  @media (max-width: 1000px) {
    width: 100%;
    h1 {
      font-size: 40px;

      span {
        font-size: 52px;
      }
    }
  }
  @media (max-width: 700px) {
    width: 100%;
    padding: 50px;
    h1 {
      font-size: 30px;

      span {
        font-size: 45px;
      }
    }
  }
}

.description {
  font-size: 22px;
  margin-top: 10px;
  @media (max-width: 700px) {
    font-size: 16px;
  }
}
